*{
  margin: 0;
  padding: 0;
}

#app{
  
}

header {
  width: 100vw;
  height: 20vh;
  background-color: bisque;
 
}

#logo_background{
 height: 100%;
 width: 100%;
 object-fit: cover;
 object-position: 50%0;
}